
a{
    text-decoration: none;
}
.left{
    text-align: left;
}
.left nav ul li {
    list-style-type: none ;
    display: inline-block;
    font-style: italic

}
.type{
    list-style-type: none ;
    display: inline-block;
    padding: 5px;
    
}
.center{
    text-align: center;
    margin: 10px 0px;
}
  
